[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/kmonad %h/.config/kmonad/akko.kbd  -l warn
Nice=-20

[Install]
DefaultInstance=config
WantedBy=default.target
